<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd
     http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
">
    <!--注解扫描-->
    <context:component-scan base-package="com.yb"/>
    <!--导入mybatis-->
    <import resource="classpath:application-mybatis.xml"/>

    <!--导入springMVC-->
    <import resource="classpath:application-mvc.xml"/>

    <!--导入shiro-->
    <import resource="application-shiro.xml"/>

<!--    &lt;!&ndash;导入shiro&ndash;&gt;
    <import resource="classpath:application-shiro.xml"/>-->


<!--    &lt;!&ndash; aop配置 日志配置 &ndash;&gt;
    <bean id="SystemAspect" class="com.itlike.utils.SystemAspect"></bean>
    <aop:config>
        <aop:pointcut expression="execution(* com.itlike.service.*.*(..))"
                      id="servicePoint" />
        <aop:aspect ref="SystemAspect">
            <aop:after method="writeLog" pointcut-ref="servicePoint"/>
        </aop:aspect>
    </aop:config>-->


    <bean id="pageListRes" class="com.yb.domain.PageListRes"></bean>
    <bean id="ajaxRes" class="com.yb.domain.AjaxRes"></bean>
</beans>